<!-- <div data-role="view" data-title="RedHand" data-layout="main" data-model="APP.models.home"> -->
<div data-role="view" data-layout="main" data-model="APP.models.notifications">
  <!--<h1 data-bind="html: title"></h1>-->
    <div class="header"><img src="img/header_icons/notifications.png" width="130" height="25"></div>
	    <!-- <div data-role="navbar">
	    <a data-role="backbutton" data-align="left">Back</a>
	    My View Title
	    <a data-role="button" data-align="right">About</a>
		</div> -->
</div>